<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Espace Membres</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Espace Membres</h1>

    <h2>events</h2>
    
<div class="event-box">
    <h2>📅 Event du {{ today }}</h2>

    <p class="time">Heure actuelle : {{ now }}</p>

    {% if event %}
        <h3>{{ event.title }}</h3>
        <p>{{ event.description }}</p>
        <p class="event-time">
            De {{ event.start }} à {{ event.end }}
        </p>
    {% else %}
        <p class="no-event">Aucun event en cours aujourd’hui</p>
    {% endif %}
</div>

    <h2>connéctés</h2>
    <p>{{ pseudo }} est connecté</p>

    {% if event %}
        <h2>Événement en cours : {{ event.title }}</h2>
        <p>{{ event.description }}</p>
    {% else %}
        <p>Aucun événement en cours</p>
    {% endif %}

    <a href="/logout">Se déconnecter</a>

</body>
</html>
